

{{#if groups}}
    <h3 class="title">
        Choose a group
    </h3>

    <div class="input-radio-div ">
    {{#each groups}}
        <p class="radio-para">
            <input type="radio" name="groupId" id="{{this.groupName}}" value="{{this.id}}" required >
            <label for="{{this.groupName}}">{{this.groupName}} {{this.level}} </label>
        </p>
    {{/each}}

{{else}}
    <strong>
        No groups to choose in database. <br>
        Student will be added to main list.
    </strong>
    </div>


{{/if}}