<div class="background title form-wrapper">
    <h2>
        Editing student
    </h2>


    <form method="POST" action="/school/students/edited/{{studentOne.id}}?_method=PUT">



            <p class="title-label">
                <label for="name">name</label>
            </p>
            <p>
                <input class="input-write" type="text" name="name" value=" {{studentOne.name}}" required>
            </p>

            <p class="title-label">
                <label for="surname">surname</label>
            </p>
            <p>
                <input class="input-write"  type="text" name="surname" value=" {{studentOne.surname}}" required>
            </p>

            <p class="title-label">
                <label for="mail">mail</label>
            </p>
            <p>
                <input class="input-write"  type="mail" name="mail" value=" {{studentOne.mail}}" required>
            </p>
            <p class="title-label">
                <label >notes</label>
            </p>
            <p>
                <textarea class="input-write" name="notes"  value=" {{studentOne.notes}}"></textarea>
            </p>


        <div class="choose-group-div">

            {{> groups-radio-inputs}}

        </div>

        <div class="buttons-form-div">
            <button class="form-button" type="submit">Save</button>
            <a class="form-button go-back-btn" href="/school">go home</a>

        </div>



    </form>



</div>