<div class="background">

<p class="title">Student {{studentOne.name}} {{studentOne.surname}} </p>

<p class="center"> has been removed from the group {{groupName}}.   </p>





    <div class="buttons-form-div ">

        <a class="form-button button-long-text" href="/school/group/{{groupId}}"> back to group</a>

        <a class="form-button button-long-text" href="/school/students/one/{{studentOne.id}}">see student details </a>


    </div>

</div>