<div class="background ">

<div>{{ studentOne.name }} {{ studentOne.surname }}</div>

<div> {{ studentOne.groupName }} {{ level }} </div>

<div> {{ studentOne.mail }} </div>
<a href="">edit</a>



</div>