<div class="add">
    <a  href="school/add-new-group">
        <img class="icon icon-big" src="/icons/add-people-icon.svg" alt="icon add group">
    </a>
    <a  href="/school/students/add-student">
        <img class="icon icon-big" src="/icons/add-person-big-icon.svg" alt="icon add student">
    </a>
</div>



<div class="background">
    {{#if students}}
        <h2>Students list:</h2>
    {{else}}
        <h3>No students in database. Add students.</h3>
    {{/if}}




{{#each students}}

   <div class="student-div">

       <div>
           {{this.name}} {{this.surname}}

           {{#if this.groupId}}

            <p>{{this.groupName}} </p>

           {{else}}
               <p>Not assigned.</p>
           {{/if}}

       </div>



       <div class="student-icons-div">
           <a href="/school/students/one/{{this.id}}">
               <img class="icon" src="/icons/details-icon.svg" alt="edit student icon">
           </a>
           <a href="/school/students/edit/{{this.id}}">
               <img class="icon" src="/icons/edit-student-icon.svg" alt="edit student icon">
           </a>
           <form method="POST" action="/school/students/delete/{{this.id}}?_method=delete">
               <button type="submit">
                   <img class="icon danger" src="/icons/trash-icon.svg" alt="">
               </button>
           </form>
       </div>




   </div>

{{/each}}



</div>