<div class="background">
    <h2>Editing group {{oneGroup.groupName}}</h2>
    <a href="/school/group/{{oneGroup.id}}">go back</a>
</div>

<div class="background">

    <form method="POST" action="/school/group/group-edited/{{oneGroup.id}}?_method=PUT">
        <p>
            <label>group name</label>
        </p>
        <p>
            <input value="{{oneGroup.groupName}}" type="text" name="groupName" required>
        </p>

        <p>Level</p>
        <p>
            <input type="radio" name="level" id="level" value="intermediate" required >
            <label for="level">Intermediate</label>
        </p>

        <p>
            <input type="radio" name="level" id="level" value="advanced" required >
            <label for="level">Advanced</label>
        </p>

        <p>
            <input type="radio" name="level" id="level" value="business" required >
            <label for="level">Business</label>
        </p>




        <p>
            <label>teacher</label>
        </p>
        <p>
            <input value="{{oneGroup.teacherName}}" type="text" name="teacherName">
        </p>

        <button type="submit">Save</button>

    </form>
</div>



