
<div class="add">
     <a  href="school/add-new-group">
        <img class="icon icon-big" src="/icons/add-people-icon.svg" alt="icon add group">
    </a>
    <a  href="/school/students/add-student">
        <img class="icon icon-big" src="/icons/add-person-big-icon.svg" alt="icon add student">
    </a>
</div>


    
    
    
    {{#if groups}}

        <p class="group-list-title">
            Groups list
        </p>
        {{#each groups}}

            <div  class="background one-group">

                <a href="/school/group/{{this.id}}">
                    <div class="one-group-card">
                        <div>
                            <span class="group-name"> {{this.groupName}}</span>
                            <span class="level">{{this.level}}</span>
                        </div>
                        <div class="teacher">
                            teacher: {{this.teacherName}}
                        </div>

                    </div>
                </a>


                <div class="icons">
                    <a  href="/school/group/{{this.id}}">
                        <img class="icon" src="/icons/details-icon.svg" alt="icon details">
                    </a>
                    <a  href="/school/group/edit-group/{{this.id}}">
                        <img class="icon" src="/icons/edit-icon.svg" alt="icon edit">
                    </a>
                    <a  href="/school/group/{{this.id}}/add-student">
                        <img class="icon" src="/icons/add-person-small-icon.svg" alt="icon add student">
                    </a>
                </div>

            </div>






        {{/each}}
    {{else}}
        <div class="background">
            <h2>
                No groups in database
            </h2>
        </div>
    {{/if}}




