

<div class="background one-group-div">
<div class="one-group-with-icons-div">

    <h2 class="group-name">{{oneGroup.groupName}} {{oneGroup.level}}</h2>

    <div class="one-group-icons">
        <a  href="/school/group/edit-group/{{oneGroup.id}}">
            <img class="icon big" src="/icons/edit-icon.svg" alt="icon edit">
        </a>
        <a  href="/school/group/{{oneGroup.id}}/add-student">
            <img class="icon big" src="/icons/add-person-small-icon.svg" alt="icon add student">
        </a>


        {{#if students}}
        {{else}}
            <form method="POST" action="/school/{{oneGroup.id}}?_method=delete">
                <button type="submit">
                    <img class="icon big danger" src="/icons/trash-icon.svg" alt="">
                </button>
            </form>
        {{/if}}
    </div>

</div>
    <div class="teacher-name-div">
        <p>  <strong> {{oneGroup.teacherName}} </strong> </p>
        <p> <small> teacher name </small></p>
    </div>

    {{#if students}}
        <h3>
            Student list:
        </h3>

        {{#each students}}
  <div class="student-div">
      <div class="student-name">
          {{this.name}} {{this.surname}}
      </div>

{{>student-icons}}

  </div>


        {{/each}}

    {{else}}
        <p>No students in this group.</p>
    {{/if}}




</div>