

<div class="background">

    <h2>
        {{oneGroup.groupName}}  {{oneGroup.level}}
    </h2>


    <h3>
        {{oneGroup.teacherName}}
    </h3>

    {{#if students}}
        <h3>
            Students:
        </h3>

        {{#each students}}
            <div>
               {{this.name}} {{this.surname}}

                    <a href="/school/students/edit/{{this.id}}">edit student</a>
                    <form method="POST" action="/school/students/remove-from-group/{{@root.oneGroup.id}}/{{this.id}}?_method=put">
                        <button type="submit">Remove from group</button>
                    </form>

            </div>
        {{/each}}

    {{else}}
        <p>No students in this group.</p>
    {{/if}}

    <div>
        <a  href="/school/group/edit-group/{{oneGroup.id}}">
            <img class="icon" src="/icons/edit-icon.svg" alt="icon edit">
        </a>
        <a  href="/school/group/{{oneGroup.id}}/add-student">
            <img class="icon" src="/icons/add-person-icon.svg" alt="icon add student">
        </a>

        {{#if students}}
        {{else}}
            <form method="POST" action="/school/{{oneGroup.id}}?_method=delete">
                <button type="submit">
                    <img class="icon" src="/icons/delete-icon.svg" alt="">
                </button>
            </form>
        {{/if}}
    </div>


</div>